::selection { background: transparent; }
::-moz-selection { background: transparent; }

html
	height 100%
	padding 0
	margin 0

body
	font-family -apple-system, BlinkMacSystemFont, sans-serif
	font-size 10px
	background #000000
	color #ffffff
	width 100%
	height 100%
	margin 0
	padding 0
	svg
		position fixed
		top 30px
		left 30px
		z-index 10
		pointer-events none
	#main
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		#download
			text-decoration none
			color #ffffff
		#input
			opacity 0
		#bottomControls
			position fixed
			bottom 80px
			left 50%
			width 360px
			margin-left -180px
		#topControls
			position fixed
			top 80px
			left 50%
			width 360px
			margin-left -180px
		.controller
			pointer-events none
			height 9px
			position relative
			margin-bottom 6px
			.hBar
				display inline-block
				position absolute
				top 0
				left 0
				width 0
				height 5px
				border-bottom 1px solid #ffffff
				pointer-events none
			&.color
				.selector
					width 274px
					height calc( 100% - 2px )
					background #ffffff
					margin-right 14px
					border solid 1px #666666
				&.active
					.selector
						background linear-gradient( to right, hsl( 0, 100, 50 ) 0%, hsl( 60, 100, 50 ) 15%, hsl( 120, 100, 50 ) 30%, hsl( 180, 100, 50 ) 45%, hsl( 240, 100, 50 ) 60%, hsl( 300, 100, 50 ) 75%, hsl( 360, 100, 50 ) 90%, hsl( 0, 100, 0 ) 90%, hsl( 0, 100, 100 ) 100% ) !important
			.selector
				pointer-events auto
				display inline-block
				width 280px
				height 100%
				margin-right 10px
				& > *
					display inline-block
					width 4px
					height 100%
					border-left 1px solid
					border-color #444444
					&.active
						border-color #ffffff