doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Quantum
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #main
        input#input( maxlength = '16', value = 'Hello' )
        #topControls
            div.controller( data-type = 'slider', data-label = 'Font Size', data-slug = 'scale' )
            div.controller( data-type = 'slider', data-label = 'Font Weight', data-slug = 'weight' )
            div.controller( data-type = 'slider', data-label = 'Particle speed', data-slug = 'speed' )
        #bottomControls
            div.controller( data-type = 'range', data-label = 'Particle size', data-slug = 'pointSize' )
            div.controller( data-type = 'range', data-label = 'Oscillation', data-slug = 'oscillation' )
            div.controller( data-type = 'range', data-label = 'Dispersion', data-slug = 'dispersion' )
            div.controller( data-type = 'color', data-label = 'Color', data-slug = 'color' )
            div.controller( data-type = 'color', data-label = 'Background', data-slug = 'backgroundColor' )
            a#download( href='javascript:void(0)' ) #[br] Download
    script(src='js/main.js')    